<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.service.main.dao.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.happy.service.main.po.OrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_user_id" jdbcType="BIGINT" property="lastUpdateUserId" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, product_id, product_sku_id, product_count, create_user_id, create_time, 
    last_update_user_id, last_update_time
  </sql>
  <insert id="insertOrderItem" >
   <selectKey keyProperty="po.id" resultType="java.lang.Long" order="BEFORE">
            select uuid_short()
    </selectKey>
    insert into order_item (id, order_id, product_id, 
      product_sku_id, product_count, create_user_id, 
      create_time, last_update_user_id, last_update_time
      )
    values (#{po.id,jdbcType=BIGINT}, #{po.orderId,jdbcType=BIGINT}, #{po.productId,jdbcType=BIGINT}, 
      #{po.productSkuId,jdbcType=BIGINT}, #{po.productCount,jdbcType=INTEGER}, #{po.createUserId,jdbcType=BIGINT}, 
      now(), #{po.lastUpdateUserId,jdbcType=BIGINT}, now()
      )
  </insert>
  
      <insert id="insertOrderItems">
        INSERT INTO
        order_item
        (<include refid="Base_Column_List" />)
        VALUES
        <foreach collection="orderItems" item="po" separator="," >
            (
            uuid_short(),
            #{po.orderId,jdbcType=BIGINT}, 
            #{po.productId,jdbcType=BIGINT}, 
            #{po.productSkuId,jdbcType=BIGINT}, 
            #{po.productCount,jdbcType=INTEGER}, 
            #{po.createUserId,jdbcType=BIGINT}, 
            now(), 
            #{po.lastUpdateUserId,jdbcType=BIGINT}, 
            now()
            )
        </foreach>
    </insert> 
  <select id="listOrderItem"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_item
    <where>
        <if test="query.id != null and query.id != ''" > and id=#{query.id }</if>
        <if test="query.orderId != null and query.orderId != ''" > and order_id=#{query.orderId }</if>
	</where>	
  </select>
 
 
</mapper>