<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.service.main.dao.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.happy.service.main.po.UserAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_user_id" jdbcType="BIGINT" property="lastUpdateUserId" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, province, city, county, street, address, create_user_id, create_time, 
    last_update_user_id, last_update_time
  </sql>
  
  <insert id="insertUserAddress">
    <selectKey keyProperty="po.id" resultType="java.lang.Long" order="BEFORE">
            select uuid_short()
    </selectKey>
    insert into user_address ( <include refid="Base_Column_List" />)
    values (
      #{po.id,jdbcType=BIGINT}, 
      #{po.userId,jdbcType=BIGINT}, 
      #{po.province,jdbcType=VARCHAR}, 
      #{po.city,jdbcType=VARCHAR}, 
      #{po.county,jdbcType=VARCHAR}, 
      #{po.street,jdbcType=VARCHAR}, 
      #{po.address,jdbcType=VARCHAR}, 
      #{po.createUserId,jdbcType=BIGINT}, 
      now(),
      #{po.lastUpdateUserId,jdbcType=BIGINT}, 
      now()
      )
  </insert>
  
    <update id="updateUserAddress" >
    update user_address
    <set>
      <if test="po.userId != null">
        user_id = #{po.userId,jdbcType=BIGINT},
      </if>
      <if test="po.province != null">
        province = #{po.province,jdbcType=VARCHAR},
      </if>
      <if test="po.city != null">
        city = #{po.city,jdbcType=VARCHAR},
      </if>
      <if test="po.county != null">
        county = #{po.county,jdbcType=VARCHAR},
      </if>
      <if test="po.street != null">
        street = #{po.street,jdbcType=VARCHAR},
      </if>
      <if test="po.address != null">
        address = #{po.address,jdbcType=VARCHAR},
      </if>
      <if test="po.createUserId != null">
        create_user_id = #{po.createUserId,jdbcType=BIGINT},
      </if>
      <if test="po.createTime != null">
        create_time = #{po.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="po.lastUpdateUserId != null">
        last_update_user_id = #{po.lastUpdateUserId,jdbcType=BIGINT},
      </if>
      <if test="po.lastUpdateTime != null">
        last_update_time = #{po.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{po.id,jdbcType=BIGINT}
  </update>
  
  <select id="listUserAddress"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_address
    <where>
       <if test="query.id != null and query.id != ''" > and id=#{query.id }</if>
       <if test="query.userId != null and query.userId  != ''" > and user_id =#{query.userId }</if>
    </where>
  </select>
  <select id="listByUserId"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_address
    where user_id=#{userId}
  </select>
  
</mapper>